//fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Ultra');

@mixin logo-font($size) {
	font-family: 'Ultra', serif;
	text-shadow: 2px 5px #000;
	color: #fff;
	font-size: $size;
}

@mixin text-font($size) {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: $size;
}

h2 {
	@include text-font(3em);
}

p, a {
	@include text-font(16px);
}

//colors
$blue: #5bc0de;

.index-container {
	margin-top: 3em;
}

//splash styles
.main-splash {
	height: 90vh;
}

.header {
	background-color: $blue;
	text-align: center;
}

h1.splash-logo {
	@include logo-font(50px);
}

a.link-logo {
	@extend h1.splash-logo;
	text-decoration: none;
}

.splash-row {
	height: 100%;
}

.splash-img {
	margin: 25%;
	width: 50%;
}

.splash-btn {
	height: 4em;
	font-size: 2em;
	width: 100%;
	margin-top: 2em;
	background-color: $blue;
	color: white !important;
	cursor: pointer;
}

//nav styles
ul {
	display: flex;
	justify-content: flex-end;
}

li.nav-list {
	width: 15%;

	a {
		color: black;
		@include text-font(1.5em);
	}
}

// login styles
.login-input {
	height: 4em;
	width: 200%;
	margin-top: 1.5em;
	text-align: center;
}

.login-buttons {
	display: flex;
	margin-top: 3em;
	justify-content: space-around;
}

.login-btn {
	background-color: $blue;
	border: 0;
	width: 40%;
	margin: 0.5em;
	cursor: pointer;
}

.instructions {
	margin-top: 3em;
	text-align: center;
}

//survey styles
img.garfield {
	border: 1px solid #999;
}

p.question {
	margin-left: 2em;
	font-size: 2em;
}

.border-selected {
	border: 3px solid orange;
}


