<div>
	<header>
		<h1>Elementary Reading Attitudes Survey</h1>
	</header>
	<div class="row">
		<div class="col-6">
			<img src="img/img3.png" alt="Garfield">
		</div>
		<div class="col-6">
			<div class="login-field">
				<input type="text" placeholder="email" ng-model="account.email">
			</div>
			<div class="login-field">
				<input type="text" placeholder="password" ng-model="account.password">
			</div>
			<div class="login-button">
				<a ng-click="register()" class="btn btn-info" role="button">Register</a>
			</div>
			<div class="login-button">
				<a ng-click="login()" class="btn btn-info" role="button">Sign In</a>
			</div>
		</div>
	</div>
</div>