
<div class="main-splash">
	<div ng-include="'partials/nav.html'"></div>
	<div class="row splash-row">
		<div class="col-6 splash-left">
			<img src="img/img3.png" class="splash-img" alt="Garfield">
		</div>
		<div class="col-6 splash-right">
			<div class="login-button mx-autor">
				<h2>Thank You</h2>
				<p>
					Your survey has been sent to your teacher.
				</p>
			</div>
			<div class="login-button mx-auto text-center">
				<a ng-href="#!/roster-list" class="btn splash-btn" role="button">Exit</a>
			</div>
		</div>
	</div>
</div>