
<div class="main-splash">
	<div class="header">
		<h1 class="splash-logo">Reading Attitudes Survey</h1>
	</div>
	<div class="row splash-row">
		<div class="col-6 splash-left">
			<img src="img/img3.png" class="splash-img" alt="Garfield">
		</div>
		<div class="col-6 splash-right">
			<div class="login-button mx-auto text-center">
				<a ng-href="#!/student-login" class="btn splash-btn" role="button">Students</a>
			</div>
			<div class="login-button mx-auto text-center">
				<a ng-href="#!/ed-login/" class="btn splash-btn" role="button">Educators</a>
			</div>
		</div>
	</div>
</div>